.Graph {
  margin: 20px;
}

.months {
  display: flex;
  padding-left: 30px;
  align-items: center;
  gap: 2px;
}

.day {
  height: 15px;

  &:nth-child(even) {
    opacity: 0;
  }
}

.info {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.example {
  display: flex;
  gap: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.container {
  display: flex;
  width: 898px;
}

.weekdays {
  display: inline-flex;
  flex-direction: column;
  width: 30px;
  gap: 2px;
}

.cells{
  display: inline-flex;
  flex-flow: column wrap;
  height: 117px;
  gap: 2px;
}