@import "reset";
@import "variables/global";


body {
  font: var(--font-m);
  font-weight: 400;
  color: var(--text-color);
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}