:root {
  --font-family-main: inter, avenir, helvetica, arial, sans-serif;
  --font-size: 12px;
  --font-line: 15px;
  --font: var(--font-line) / var(--font-line) var(--font-family-main);
  --bg-cell-default: #EDEDED;
  --bg-cell-first: #ACD5F2;
  --bg-cell-second: #7FA8C9;
  --bg-cell-third: #527BA0;
  --bg-cell-last: #254E77;
  --text-color: #959494;

  // z - Индексы
  --modal-z-index: 10;
  --collapsed-btn-z-index: 9;
}