.Month {
  position: relative;
  text-transform: capitalize;
  width: 15px;
} 

.Jan~.Jan,
.Feb~.Feb,
.Mar~.Mar,
.Apr~.Apr,
.May~.May,
.Jun~.Jun,
.Jul~.Jul,
.Aug~.Aug,
.Sep~.Sep,
.Oct~.Oct,
.Nov~.Nov,
.Dec~.Dec {
  opacity: 0;
}